.row {
    justify-content: center;
  }
  
  .areatext {
    padding: 30px 0 0 0;
  }
  
  h2 {
    padding: 30px;
    color: $color-blanco;
    text-align: $color-blanco;
    font-family: $fuente;
    text-shadow: 0 0 1px $color-blanco;
  }
  
  h3 {
    font-size: 20px;
    text-align: center;
    color: $color-blanco;
    padding: 100px 0 0 0;
  }