.e-left {
    padding: 100px 0 0 0;
    height: 450px;
    background-image: url(../multimedia/img/left1.jpg);
    background-size: cover;
    background-position: center;
  }
  
  dl {
    padding: 25px 30px 95px 30px;
    color: $color-blanco;
    text-align: center;
    font-family: 'Oswald', sans-serif;
  }
  
  span {
    font-size: 30px;
    color: $color-secundario;
  }
  
  dd {
    font-size: 20px;
  }
  
  .e-right2 {
    height: 450px;
    background-image: url(../multimedia/img/left2.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .e-left3 {
    height: 450px;
    background-image: url(../multimedia/img/left3.jpg);
    background-size: cover;
    background-position: center;
  }