@mixin filtro {
    filter: grayscale(0);
}
@mixin filtro2 {
    filter: grayscale(1);
}
@media only screen and (min-width:300px) and (max-width:479px){
    .padd{
        padding: 15px 0 0 0;
      }
    .inicio{
        height: 450px;
        background-image: url(../multimedia/img/logo3.jpg);
        background-size: cover;
        background-position: center;
    }
    .inicio2 {
        height: 450px;
        background-image: url(../multimedia/img/carousel4.jpg);
        background-size: cover;
        background-position: center;
    }
      
    .inicio3 {
        height: 450px;
        background-image: url(../multimedia/img/carousel5.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .inicio4 {
        height: 450px;
        background-image: url(../multimedia/img/carousel6.jpg);
        background-size: cover;
        background-position: center;
    }
    
    footer {
        padding: 15px 0 15px 0;
    }
    
    .e-left{
        order: 0;
    }
    .e-right{
        order:1;
    }
    .e-left2{
        order: 3;
    }
    .e-right2{
        order:2;
    }
    .e-left3{
        order: 4;
    }
    .e-right3{
        order: 5;
    }
    .videos{
        justify-content: center;
    }
    .item{
        transition: all .5s;
    }
    .item:hover{
        transition: all 1.5s;
    }
    .item1:hover{
        transform: scale($escala1);
    }
    .item2:hover{        
        transform: scale($escala1);
    }
    .item3:hover{
        transform: scale($escala1);   
    }
    .item4:hover{
        transform: scale($escala1);
    }
    .item5:hover{        
        transform: scale($escala1);
    }
    .item6:hover{
        transform: scale($escala1);   
    }
}
@media only screen and (min-width:480px) and (max-width:767px){   
    .proyecto{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 200px);
    }
    .e-left{
        order: 0
    }
    .e-right{
        order:1
    }
    .e-left2{
        order: 3;
    }
    .e-right2{
        order:2
    }
    .e-left3{
        order: 4;
    }
    .e-right3{
        order: 5;
    }
    .item{
        transition: all .5s;
    }
    .item:hover{
        transition: all 1.5s;
    }
    .item1:hover{
        transform: scale($escala2) translate(30%, 0);
    }
    .item2:hover{        
        transform: scale($escala2) translate(-30%, 0);
    }
    .item3:hover{
        transform: scale($escala2) translate(30%, 0);   
    }
    .item4:hover{
        transform: scale($escala2) translate(-30%, 0);
    }
    .item5:hover{        
        transform: scale($escala2) translate(30%, 0);
    }
    .item6:hover{
        transform: scale($escala2) translate(-30%, 0);   
    }
}
@media only screen and (min-width:768px) and (max-width:1024px){   
    .proyecto{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 200px);
    }
    .item1{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .item2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .item3{
        grid-column: 3/4;
        grid-row: 1/3;
    }
    .item4{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .item5{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .item6{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .e-right, .e-left2, .e-right3{
        padding-top: 85px;
    }
    .e-left, .e-right2, .e-left3{
        @include filtro2;
    }
    .e-left:hover{
        @include filtro;
    }
    .e-right2:hover{
        @include filtro;
    }
    .e-left3:hover{
        @include filtro;
    }
}
@media only screen and (min-width:1025px) and (max-width:1820px){   
    .proyecto{
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: repeat(2, 250px);
        padding: 30px 300px 30px 300px;
        grid-gap: 20px;
        justify-content: center;
    }
    .item{
        transition: all .5s;
    }
    .item:hover{
        transition: all 3s;
    }
    .item1:hover{
        transform: scale($escala3) translate(45%, 0%);
    }
    .item2:hover{        
        transform: scale($escala3);
    }
    .item3:hover{
        transform: scale($escala3) translate(-45%, 0%);
        
    }
    .item4:hover{
        transform: scale($escala3) translate(45%, -40%);
    }
    .item5:hover{        
        transform: scale($escala3) translate(0, -40%);
    }
    .item6:hover{
        transform: scale($escala3) translate(-45%, -40%);
        
    }
    .e-right, .e-left2, .e-right3{
        padding-top: 85px;
    }
    .e-left, .e-right2, .e-left3{
        @include filtro2;
    }
    .e-left:hover{
        @include filtro;
    }
    .e-right2:hover{
        @include filtro;
    }
    .e-left3:hover{
        @include filtro;
    }
}
