*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: $color-principal;
}
.grad {
    background: linear-gradient($color-principal, $color-negro, $color-negro, $color-principal);
  }