*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: $color-principal;
}
.grad {
    background: linear-gradient(#2A3A47, black, black, #2A3A47);
  }